[Desktop Entry]
Version=1.0
Type=Application
Name=1 Подготовить
Comment=Подготовка помощника
Exec=bash -c 'cd "$(dirname "%k")"; export IN_TERMINAL=1; bash "./подготовить.sh"'
Path=
Terminal=true
Icon=system-software-update
Categories=Utility;
StartupNotify=true
